/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #333333;
  --ifm-color-primary-dark: #222222;
  --ifm-color-primary-darker: #111111;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #444444;
  --ifm-color-primary-lighter: #555555;
  --ifm-color-primary-lightest: #555555;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(51, 51, 51, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #999999;
  --ifm-color-primary-dark: #888888;
  --ifm-color-primary-darker: #777777;
  --ifm-color-primary-darkest: #333333;
  --ifm-color-primary-light: #aaaaaa;
  --ifm-color-primary-lighter: #bbbbbb;
  --ifm-color-primary-lightest: #cccccc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
